@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";


@theme {
  --font-roboto: 'Roboto';
  --font-nt-somic: 'NT Somic';
}

@layer base {
  body {
    @apply overflow-x-hidden font-roboto
  }

  button {
    @apply cursor-pointer
  }
}

.inner-curve {
  --r: 25px;
  /* control the rounded part */
  --s: 55px;
  /* control the size of the cut */
  --a: 45deg;
  /* control the depth of the curvature */
  --p: 50%;
  /* control the position */

  height: 100%;
  width: 100%;
  background: white;
  border-radius: var(--r);
  --_m: var(--r), #000 calc(100% - 1px), #0000;
  --_d: (var(--s) + var(--r))*cos(var(--a));
  mask:
    radial-gradient(var(--r) at calc(var(--p) + var(--_d)) var(--_m)),
    radial-gradient(var(--r) at calc(var(--p) - var(--_d)) var(--_m)),
    radial-gradient(var(--s) at var(--p) calc(-1*sin(var(--a))*var(--s)),
      #0000 100%, #000 calc(100% + 1px)) 0 calc(var(--r)*(1 - sin(var(--a)))) no-repeat,
    linear-gradient(90deg, #000 calc(var(--p) - var(--_d)), #0000 0 calc(var(--p) + var(--_d)), #000 0);
}

.inner-curve-section::after {
  content: '';
  @apply absolute z-10 left-1/2 -translate-x-1/2 top-0 w-11.5 h-1 bg-white rounded-full
}